.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-color, ul li {
    background-color: purple !important;
    font-size: 20px;
}

.logo-img {
    width: 100px;
    object-fit: cover;    
}

.left-box {
    height: 500px;
    background-color: purple;
    width: 200px;
}

.right-box {
    width: 400px;
    background-color: blue;
}

.center-box {
    display: flex;
}