.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-color {
    background-color: purple !important;
}

ul, li {
    background-color: purple !important;
    color: white !important;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

ul, li:last-child {
    padding: 0 0 120px 0;
} 

.paddings {
    padding: 0;
}

.custom-container {
    overflow: hidden;
    display: flex;

}

.logo-img {
    width: 100px !important;
    object-fit: cover;
}

.card-size {
    width: 200px;
}

.logo-container {
    width: 100%;
    background-color: purple !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px 0;
}

.question-box {
    background-image: url(./img/brainbg.jpg);
    background-position: center;
    background-size: cover;

    width: 100%;
}