h1 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg-color, ul li {
    background-color: purple !important;
    font-size: 20px;
}

.logo-img {
    width: 100px;
    object-fit: cover;    
}

.left-box {
    height: 500px;
    background-color: purple;
    width: 200px;
}

.right-box {
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.center-box {
    display: flex;
}

.arrow {
    rotate: 180deg;
    width: 20px;
    filter: invert(1);
    margin-left: 15px;
}

.start-button {
    background-color: orange;
    border:none;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}